* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: grey;
}

h1 {
  text-align: center;
  padding-top 50%;
  line-height: 90px;
  font-size: 3.5rem;
  border: 1px solid #304FFE;
  background-color: #304FFE;
  height: 100px;
  color: #FAFAFA;
}
.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.card {
  background-color: #E3F2FD
}

div[data-view="catalog"] {
  margin-top: 100px;
}

.center-block {
  background-size: contain;
  width: 100%;
  display:block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container .center-block {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin:auto;
  height: 50%;
  width: 50%;
  background-color: #4286f4;
}

li {
  font-weight:400;
  font-size: 1.3rem;
  text-align: center;
  list-style-type: none;
}

.hidden {
  opacity: 0;
}

.cart-wrapper {
  text-align: right;
  background-color: #A1887F;
}

.cart-item-count {
  position: fixed;
  top: 2%;
  right: 0%;
  z-index: 4;
  font-size: 20px;
  color: #BDBDBD;
  margin-right: 20px;
  margin-bottom: 50px;

}
