* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4286f4;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.card {
  background-color: #E0E0E0
}
